language: java

script:
 - mvn clean install -Dgpg.skip=true

notifications:
  email:
    recipients:
      - waabox@gmail.com
    on_success: always # [always|never|change] default: change
    on_failure: always # [always|never|change] default: always
